<%= form_tag("/admin/content/merge/#{params[:id]}", :id => "merge_form", :method => :post) do %>
  <h4>Merge Articles</h4>
  <%= label_tag 'merge_with', 'Article ID' %>
  <div class="input">
      <%= text_field_tag 'merge_with' %>
  </div>
  <%= submit_tag 'Merge' %>
<% end %>