<%= form_tag("/admin/content/merge/#{params[:id]}", :id => "merge_form", :method => :post) do %>
  <h4>Merge Articles</h4>
  <%= text_field_tag 'merge_with' %>
  <%= submit_tag 'Merge With This Article' %>
<% end %>